%h1 Vote menu
%p Select menu below.

-# TODO それぞれのモデルのクラスメソッドで名称を返すようにするか、Yaml 使う。モデル作るときに決める
- %w(Lt Sake Food).each do |vote_target|
  = link_to "vote #{vote_target}", new_vote_path(vote_target: vote_target)
