%h1 #{@type} result
.votes
  - @votes.each do |key, vote|
    .vote
      =#XXX: VoteTarget.find(key) って連続してるのがカッコわるい。
      = link_to "#{vote.count}票 #{VoteTarget.find(key).title}", result_path(VoteTarget.find(key))

-#NOTE ここは TOP へのリンクは入れなくてもいいかなと思った。もう戻る意味ないし。
