%h1 #{@type} result
.votes
  - @votes.each do |key, vote|
    .vote
      - target = VoteTarget.find(key)
      = link_to "#{vote.count}票 #{target.title}", result_path(target)

-#NOTE ここは TOP へのリンクは入れなくてもいいかなと思った。もう戻る意味ないし。
