%h1 #{@type} 投票結果！

%table.table.votes
  - @targets.each do |target|
    %tr.vote
      %th= "#{target.votes.count}票"
      %td= link_to target.title, result_path(target)

-#NOTE ここは TOP へのリンクは入れなくてもいいかなと思った。もう戻る意味ないし。
